<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="bootstrap-4.3.1-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

</head>
<style>
    img{
        width: 70px;
        height: 70px;
    }
</style>
<body class="bg-light">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">EMT LIBRARY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/categories">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/books">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/cart-items">Cart <span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                           placeholder="Search...">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary btn-number">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <a class="btn btn-success btn-sm ml-3" href="/api/cart-items">
                    <i class="fa fa-shopping-cart"></i> Cart
                    <span class="badge badge-light">3</span>
                </a>
            </form>
        </div>
    </div>
</nav>
<div class="container bg-light">
    <br>
    <h1 class="text-center text-success">List of all books!</h1>
    <br>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Samples</th>
                <th>Category</th>
                <th>Price</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody th:each="book : ${books}">
            <tr>
                <td><img th:src="${book.getBase64image()}"></td>
                <td th:text="${book.getName()}"></td>
                <td th:text="${book.getSample()}"></td>
                <td th:text="${book.getCategory()}  ? ${book.getCategory().getName()}: 'unknown'"></td>
                <td th:text="${book.getPrice()}"></td>
                <td><form th:action="@{/books/{id}/edit(id=${book.getId()})}" th:method="post">
                        <button class="btn btn-primary">Edit</button>
                    </form>
                </td>
                <td><form th:action="@{/books/{id}/delete(id=${book.getId()})}" th:method="delete">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form></td>

            </tr>
        </tbody>
    </table>
    <a class="btn btn-warning" th:href="@{/books/new}">Add new book</a>
</div>
<br>
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Ana Stojanoska 2020</p>
    </div>
</footer>
</body>
</html>