<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap-4.3.1-dist/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/bootstrap-4.3.1-dist/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-4.3.1-dist/js/bootstrap.min.js}"></script>

</head>
<body class="bg-light">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">EMT LIBRARY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/categories">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/books">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Cart <span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                           placeholder="Search...">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary btn-number">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <a class="btn btn-success btn-sm ml-3" href="cart.html">
                    <i class="fa fa-shopping-cart"></i> Cart
                    <span class="badge badge-light">3</span>
                </a>
            </form>
        </div>
    </div>
</nav>
<div class="container bg-light">
    <br>
    <h3 class="text-secondary">Edit book</h3>
    <form method="post"
          action="/books"
          th:object="${book}"
          class="w-25">
        <input type="hidden" name="id"
               th:name="id"
               th:value="*{id}"
               th:field="*{id}">
        <p>Name:
            <input type="text" name="name"
                   th:name="name"
                   th:field="*{name}"
                   class="form-control"></p>
        <p>Sample:
            <input type="text" name="sample"
                   th:name="sample"
                   th:field="*{sample}"
                   class="form-control" required></p>
        <p>Category:
            <select name="category"
                    th:name="category"
                    class="form-control">
                <option
                        th:value="Adventure"
                        th:text="Adventure"
                        name="category"></option>
                <option
                        th:value="Action"
                        th:text="Action"
                        name="category"></option>
                <option
                        th:value="Fantasy"
                        th:text="Fantasy"
                        name="category"></option>
                <option
                        th:value="Mystery"
                        th:text="Mystery"
                        name="category"></option>
            </select></p>
        <p>Picture:
            <input type="text" name="multipartFile"
                   th:name="multipartFile"
                   th:field="*{multipartFile}"
                   class="form-control"></p>
        <button class="btn btn-primary"><a th:href="@{/books}" class="text-white">Back</a></button>
        <button type="submit" class="btn btn-success">Edit book</button>
    </form>

</div>
<footer class="py-4 bg-dark fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Ana Stojanoska 2020</p>
    </div>
</footer>
</body>
</html>