<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap-4.3.1-dist/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/bootstrap-4.3.1-dist/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-4.3.1-dist/js/bootstrap.min.js}"></script>

</head>
<body class="bg-light">
<div class="container bg-light">
    <br>
    <h3 class="text-secondary">Edit book</h3>
    <form method="post"
          action="/books"
          th:object="${book}"
          class="w-25">
        <input type="hidden" name="id"
               th:name="id"
               th:value="*{id}"
               th:field="*{id}">
        <p>Name:
            <input type="text" name="name"
                   th:name="name"
                   th:field="*{name}"
                   class="form-control"></p>
        <p>Sample:
            <input type="text" name="sample"
                   th:name="sample"
                   th:field="*{sample}"
                   class="form-control" required></p>
        <p>Category:
            <select name="category"
                    th:name="category"
                    class="form-control">
                <option
                        th:value="Adventure"
                        th:text="Adventure"
                        name="category"></option>
                <option
                        th:value="Action"
                        th:text="Action"
                        name="category"></option>
                <option
                        th:value="Fantasy"
                        th:text="Fantasy"
                        name="category"></option>
                <option
                        th:value="Mystery"
                        th:text="Mystery"
                        name="category"></option>
            </select></p>
        <p>Picture:
            <input type="text" name="multipartFile"
                   th:name="multipartFile"
                   th:field="*{multipartFile}"
                   class="form-control"></p>
        <button class="btn btn-primary"><a th:href="@{/books}" class="text-white">Back</a></button>
        <button type="submit" class="btn btn-success">Edit book</button>
    </form>

</div>
</body>
</html>