<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" href="bootstrap-4.3.1-dist/css/bootstrap.min.css">-->
<!--    <script type="text/javascript" src="bootstrap-4.3.1-dist/js/bootstrap.js"></script>-->
<!--    <script type="text/javascript" src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" th:href="@{/bootstrap-4.3.1-dist/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/bootstrap-4.3.1-dist/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-4.3.1-dist/js/bootstrap.min.js}"></script>

</head>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">EMT LIBRARY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/categories">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/books">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Cart <span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                           placeholder="Search...">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary btn-number">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <a class="btn btn-success btn-sm ml-3" href="cart.html">
                    <i class="fa fa-shopping-cart"></i> Cart
                    <span class="badge badge-light">3</span>
                </a>
            </form>
        </div>
    </div>
</nav>

<body class="bg-light">
<div class="container bg-light">
    <br>
    <div class="row justify-content-center">
        <h1 class="text-center text-success">Welcome to my library!</h1>
    </div>
    <div class="row justify-content-center">
        <h4 class="text-secondary">Check all of my amazing books</h4>
    </div>
    <div class="row justify-content-center">
        <h3><a th:href="@{/books}">Books</a></h3>
    </div>
    <div class="row justify-content-center">
        <img src="../static/images/library.jpg" th:src="@{images/library.jpg}" height="400" width="800" />
    </div>
</div>
    <br>
</body>
<footer class="py-4 bg-dark fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Ana Stojanoska 2020</p>
    </div>
</footer>

</html>